<h2>Template: Básicos</h2>
<div class="row">
  <div class="col">
    <form (ngSubmit)="obtenerData()" #miFormulario="ngForm" autocomplete="off">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            [ngModel]="initialForm.producto"
            name="producto"
            id=""
            placeholder="Nombre del Producto"
            minlength="3"
            required
          />
          <span *ngIf="nombreValido()" class="form-text text-danger">
            Debe de ser 3 letras</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            [ngModel]="initialForm.precio"
            name="precio"
            id=""
            placeholder="Precio del Producto"
            customMin
            [minimo]="0"
            min="0"
            required
          />
          <span *ngIf="precioValido()" class="form-text text-danger">
            El precio debe de ser 0 o mayor</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            [ngModel]="initialForm.existencias"
            type="number"
            name="existencias"
            id=""
            placeholder="Existencias del Producto"
            customMin
            [minimo]="0"
            min="0"
            required
          />
          <span *ngIf="existenciasValido()" class="form-text text-danger">
            Las existencias deben de ser 0 o mayor</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            [disabled]="miFormulario.invalid"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span> Valido </span>
    <pre>{{ miFormulario.valid }}</pre>
    <span> Pristine </span>
    <pre>{{ miFormulario.pristine }}</pre>
    <span> Touched </span>
    <pre>{{ miFormulario.touched }}</pre>
    <span> Valor </span>
    <pre>{{ miFormulario.value | json }}</pre>
  </div>
</div>
