<h2>Reactive: Básicos</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" [formGroup]="miFormulario" autocomplete="off">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            formControlName="producto"
            placeholder="Nombre del Producto"
          />
          <span *ngIf="campoEsValido('producto')" class="form-text text-danger"> Debe de ser 3 letras</span>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            formControlName="precio"
            placeholder="Precio del Producto"
          />
          <span  *ngIf="campoEsValido('precio')" class="form-text text-danger">
            El precio debe de ser 0 o mayor</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            formControlName="existencias"
            placeholder="Existencias del Producto"
          />
          <span  *ngIf="campoEsValido('existencias')" class="form-text text-danger">
            Las existencias deben de ser 0 o mayor</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span> Valido </span>
    <pre>{{ miFormulario.valid }}</pre>
    <span> Pristine </span>
    <pre>{{ miFormulario.pristine }}</pre>
    <span> Touched </span>
    <pre>{{ miFormulario.touched }}</pre>
    <span> Valor </span>
    <pre>{{ miFormulario.value | json }}</pre>
  </div>
</div>
